.addTaskContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    background: linear-gradient(to bottom, #9bf0e1, #f8e861);
    font-family: 'Original Surfer', cursive;
}

.contentWrapper {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}

/* Поле названия (как кнопка) */
.taskTitleInput {
    width: 100%;
    padding: 12px 24px;
    margin: 20px 0;
    background: #19FEA6;
    color: #01578F;
    border: 2px solid #eef1f2;
    border-radius: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Original Surfer', cursive;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

.taskForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.deadlineContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.deadlineLabel {
    font-size: 15px;
    color: #01578F;
    white-space: nowrap;
}

.dateInput {
    flex-grow: 1;
    height: 40px;
    padding: 0 20px;
    background: white;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    color: #777;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.addTaskContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 90vh; 
    background: linear-gradient(to bottom, #9bf0e1, #f8e861);
    font-family: 'Original Surfer', cursive;
}

.descriptionInput {
    width: 100%;
    min-height: 200px;
    padding: 15px;
    background: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    resize: none;
    margin-bottom: 1px; /* Добавил отступ снизу */
}

.actionButtonsContainer {
    width: 100%;
    position: relative;
    margin-top: 0; /* Уменьшил с 20px до 10px */
    height: 140px;
}

.actionButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    height: 100%;
}

.leftIcon {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: -5px;
}

.checkmarkIcon {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    top: -15px;
}

.cancelIcon {
    width: 140px;
    height: 140px;
    position: absolute;
    right: 0;
    transform: translateX(25%); 
    top: -35px;
}

.actionButtons img {
    cursor: pointer;
    object-fit: contain;
    
}

.footer {
    font-size: 15px;
    color: #645270;
    letter-spacing: 2px;
    font-family: 'Inika', serif;
    text-align: center;
    position: relative;  
    top: -65px;        
    margin-bottom: -2cm; 
    width: 100%;
    padding: 5px 0;     
}
